# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.3DPlayGround-DE.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Kema\Unity\3DPlayGround-DE\.idea\.idea.3DPlayGround-DE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
